{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">

    <div style="float: right;">

        {% include 'cart/widget.html' %}

    </div>

    <div class="row">

            {% for product in products %}

                <div class="col-md-3">
                    <div class="card" style="width: 100%; margin: 7px 7px;">

                        <img src="{{product.image.url}}" class="card-img-top" alt="">

                        <div class="card-body" style="text-align: center;">
                            <h6 class="card-title">{{product.name}}</h6>
                            <p class="card-text">${{product.price}}</p>
                        </div>

                        <div class="card-footer text-center">
                            <!-- Here we make use of the names given in the urls.py file -->
                            <a href="{% url 'Cart:Add' product.id %}" class="btn btn-success">Agregar al carrito</a>
                        </div>

                    </div>
                </div>

            

            {% endfor %}

    </div>
</div>

{% endblock %}